<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">
 
 <!-- Configure Dependent Classes -->
 
 <bean id="dtdc" class="com.mea.comps.DTDC" />
 <bean id="blueDart" class="com.mea.comps.BlueDart" />

 <!-- Configure Target Classes --> 
<!--  <bean id="flipkart" class="com.mea.comps.Flipkart" scope="singleton">
   <property name="courier" ref="dtdc"></property>  //setter injection
 </bean> -->
 
  <bean id="flipkart" class="com.mea.comps.Flipkart" scope="prototype">
   <property name="courier" ref="dtdc"></property>  <!-- setter injection -->
 </bean>
 
 
 <!--static factory method  -->
<!--  <bean id="p1" class="com.mea.singleton.Printer" factory-method="getInstance"/>
 <bean id="p2" class="com.mea.singleton.Printer" factory-method="getInstance"/> -->
 
 <!--  <bean id="p1" class="com.mea.singleton.Printer" factory-method="getInstance" scope="prototype"/>
 <bean id="p2" class="com.mea.singleton.Printer" factory-method="getInstance" scope="prototype"/> -->
 
 <bean id="p1" class="com.mea.singleton.Printer"  scope="prototype"/>
 <bean id="p2" class="com.mea.singleton.Printer"  scope="prototype"/>
 
 
</beans>           