<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

<!-- DataSource cfg -->
<bean id="dmdsMySQL" class="org.springframework.jdbc.datasource.DriverManagerDataSource" >
  <property name="driverClassName" value="com.mysql.cj.jdbc.Driver" />
  <property name="url" value="jdbc:mysql://localhost:3306/spring-core-db" />
  <property name="username" value="root" />
  <property name="password" value="root" />
</bean>

<!-- DAO class cfg -->
<bean id="custDAO" class="com.mea.dao.CustomerDAOImpl">
  <constructor-arg name="ds" ref="dmdsMySQL" />
</bean>

<!-- Service class cfg -->
<bean id="custService" class="com.mea.service.CustomerMgmtServiceImpl">
  <constructor-arg name="dao" ref="custDAO"></constructor-arg>
</bean>

<!-- Controller class cfg -->
<bean id="controller" class="com.mea.controller.MainController">
 <constructor-arg name="service" ref="custService"/>
</bean>
</beans>
