<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd">
 
 <!-- Configure Java Classes as Spring Bean-->
 
 
 <bean id="dtdc" class="com.mea.sbeans.DTDC" /> 
 <bean id="blueDart" class="com.mea.sbeans.BlueDart"/>  
 <bean id="fFlight" class="com.mea.sbeans.FirstFlight"/>  
 <bean id="dhl" class="com.mea.sbeans.DHL"/>  
 
 
 <bean id="flipkart" class="com.mea.sbeans.Flipkart" />

<context:annotation-config />

</beans>           